iframe {
/*	height: 800px;
	width: 800px;*/
}

#menuList {
	display: block;
	width: 80%;
	height: 38px;
	background: black;
	margin: auto;
}

#menuLi {
	display: block;
	width: 10%;
	height: 38px;
	margin-left: 5px;
}


#menuLi a.title {
	display: block;
	height: 100%;
	width: 100%;
	color: white;
	text-decoration: none;
	line-height: 38px;
	text-align: center;
}

.subMenu {
	height: 55px;
	width: 100%;
	position: absolute;
}

.subItem {
	margin-top: 10px;
	margin-left: 5px;
}

#divMenu{
	display: block;
	height: 140px;
}