<div ng-controller="headCtrl" style="height:100%;">
	<div class="container container-fluid" id="wrapper">
	<h3>{{weekly.video.name}}</h3>
	<h2> Par : <a href="#/artistes/{{weekly.artiste.name}}">{{weekly.artiste.name}}</a></h2>
	<h3>A : <a href="#/quartiers/{{weekly.quartier.name}}">{{weekly.quartier.name}}</a></h3>
	<span ng-if="weekly.video.category == 1 " id="badge_cat">
		<img src="img/badges/visiteur.jpg">
		<p>Visiteur!</p>
	</span>
	</div>
	<div id="weekly_video" ng-bind-html="weekly.video.frame"></div>
	<div ng-bind-html="weekly.video.text">
	</div>

</div>
