<div ng-controller="headCtrl" style="height:100%;">

	<div id="weekly_video" ng-bind-html="weekly.video.frame"></div>
	<span ng-click="change_video('next')">Next</span><span ng-click="change_video('prev')">Prev</span>
	<div class="container container-fluid" id="wrapper">
		<h3>{{weekly.video.name}}</h3>
		<div class="div_grid" >
			<a href="#/artistes/{{ weekly.artiste.name }}" >{{ weekly.artiste.name }}<div class="arrow-right"></div></a>
			<span ng-if="weekly.artiste.path_vignette == ''">
				<img src="img/badges/weekly.jpg" class="img_grid">
			</span>
			<span ng-if="weekly.artiste.path_vignette != ''">
				<img src="{{weekly.artiste.path_vignette}}" class="img_grid">
			</span>
		</div>
		<h3>A : <a href="#/quartiers/{{weekly.quartier.name}}">{{weekly.quartier.name}}</a></h3>
		<span ng-if="weekly.video.category == 1 " id="badge_cat">
			<img src="img/badges/visiteur.jpg">
			<p>Visiteur!</p>
		</span>
		<div ng-bind-html="weekly.video.text"></div>
	</div>

</div>
